<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Post Editor Screen</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="icon"
          type="image/png"
          href="/static/favicon.ico"/>
</h:head>
<body>
<h:form style="width: 100%">
    <p:growl id="growl" life="2000"/>
    <p:menubar style="position: sticky; top:0;">
        <p:menuitem value="Home" icon="ui-icon-home" action="#{homeManagedBean.homeNav}" process="@this">
            <p:confirm header="Confirmation" message="Leave the Post Editor? All unsaved changes will be lost!"/>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>
        </p:menuitem>
        <p:menuitem value="My Posts" icon="ui-icon-contact" action="#{postManagedBean.myPosts}"
                    process="@this">
            <p:confirm header="Confirmation" message="Leave the Post Editor? All unsaved changes will be lost!"/>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
            </p:confirmDialog>
        </p:menuitem>
        <p:menuitem value="My Profile" icon="ui-icon-person" oncomplete="PF('myProfileDialog').show()"/>
    </p:menubar>

    <p:panelGrid columns="3" styleClass="ui-noborder" style="width: 100%"
                 columnClasses="left-column right-column align-top">

        <p:outputLabel value="Title:" for="title"/>
        <p:inputText value="#{postManagedBean.post.title}" id="title" style="width: 22em"/>
        <p:tooltip for="title" showEffect="scale" hideEffect="slide"
                   value="Title's max length is 20 characters!" position="right"/>


        <p:outputLabel value="Description:" for="description"/>
        <p:inputTextarea value="#{postManagedBean.post.description}" id="description" style="width: 22em"/>
        <p:tooltip for="description" showEffect="scale" hideEffect="slide" position="right"
                   value="Description's max length is 100 characters!"/>


        <p:outputLabel value="Topics:" for="topic"/>
        <p:chips value="#{postManagedBean.post.topics}" id="topic"/>
        <p:tooltip for="topic" showEffect="scale" hideEffect="slide"
                   value="Press enter to register a topic!" position="right"/>
    </p:panelGrid>
    <p:outputPanel style="width: 100%" id="imageUpload">
        <p:fileUpload id="image" fileUploadListener="#{postManagedBean.imageUpload}" skinSimple="true" multiple="false"
                      sizeLimit="102400" auto="true" accept="/(\.|\/)(png|jpg|jpeg)$/" label="Upload a Picture"
                      allowTypes="/(\.|\/)(png|jpg|jpeg)$/" update="imageUpload">
            <p:panelGrid columns="1" styleClass="ui-noborder" style="width: 100%">
                <p:outputLabel for="fileName" value=" Filename: #{postManagedBean.post.image.fileName}  "
                               rendered="#{postManagedBean.post.image !=null}"/>
                <p:commandButton id="fileName" value="Dismiss Image" action="#{postManagedBean.dismissImage}"
                                 rendered="#{postManagedBean.post.image !=null}" update="@form imageUpload"
                                 partialSubmit="true"
                                 process="@this" icon="ui-icon-closethick"/>
            </p:panelGrid>
        </p:fileUpload>
    </p:outputPanel>

    <p:textEditor widgetVar="content" value="#{postManagedBean.post.content}"
                  style="margin-bottom:10px;" height="200"
                  placeholder="Enter your content">
        <f:facet name="toolbar">
             <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
            </span>
        </f:facet>
    </p:textEditor>

    <p:commandButton value="Save" icon="ui-icon-disk"
                     action="#{postManagedBean.savePost(postManagedBean.post)}" update="growl"/>
    <p:commandButton value="Clear" type="button" onclick="PF('content').clear();" icon="ui-icon-close">
        <p:confirm header="Confirmation" message="Clear the content field? All unsaved changes will be lost!"/>
        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
        </p:confirmDialog>
    </p:commandButton>
    <p:dialog id="myProfileDialog" widgetVar="myProfileDialog" header="My Profile" showEffect="fold" hideEffect="fold"
              positionType="fixed"
              position="top" width="80%" dynamic="true" resizable="false" fitViewport="true" responsive="true"
              modal="true" appendTo="@(body)">
        <p:panelGrid columns="2" style="width:100%" styleClass="ui-noborder">
            <h:outputText value="Name"/>
            <h:outputText value="#{postManagedBean.user.name}"/>
            <h:outputText value="Username"/>
            <h:outputText value="#{postManagedBean.user.userName}"/>
            <h:outputText value="Email"/>
            <h:outputText value="#{postManagedBean.user.email}"/>
        </p:panelGrid>
    </p:dialog>
</h:form>
</body>
</html>