<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xml:lang="en" lang="en"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{postManagedBean.post.title}</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link rel="icon"
          type="image/png"
          href="/static/favicon.ico"/>
</h:head>
<body>
<h:form style="width: 100%">

    <div style="position: sticky; top:0;">
        <p:menubar>
            <p:menuitem value="Home" icon="ui-icon-home" action="#{homeManagedBean.homeNav}"/>
            <p:menuitem value="Edit Post" icon="ui-icon-pencil"
                        action="#{postManagedBean.updatePost(postManagedBean.post.id)}"
                        rendered="#{postManagedBean.post.poster.userName == postManagedBean.user.userName}"/>
            <p:menuitem value="New Post" icon="ui-icon-plus" action="#{postManagedBean.newPost}"/>
            <p:menuitem value="My Posts" icon="ui-icon-contact" action="#{postManagedBean.myPosts}"/>
            <p:menuitem value="Most liked posts" icon="ui-icon-star" oncomplete="PF('mostLikedDialog').show()"
                        action="#{homeManagedBean.mostLiked}"/>
            <p:menuitem value="My Profile" icon="ui-icon-person" oncomplete="PF('myProfileDialog').show()"/>
            <f:facet name="options">
                <p:commandButton icon="ui-icon-search" update="searchDialog"
                                 action="#{searchManagedBean.searchByKeyword()}"
                                 oncomplete="PF('searchDialog').show()"/>
                <p:inputText style="margin-right:10px" placeholder="Search" id="fullText"
                             value="#{searchManagedBean.search.keyword}"/>
                <p:tooltip for="fullText"
                           value="Search for certain keywords in the content and description of every post."
                           showEffect="scale" hideEffect="slide" position="bottom"/>
                <p:commandButton value="Logout" icon="ui-icon-power" action="#{loginBean.logout}">
                    <p:confirm header="Confirmation" message="Log Out?"/>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes"/>
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no"/>
                    </p:confirmDialog>
                </p:commandButton>
            </f:facet>
        </p:menubar>
    </div>

    <div align="center">
        <h1>
            <h:outputText value="#{postManagedBean.post.title}" id="title"
                          style="width: 22em"/>
        </h1>
        <p>
            <h:outputText value="#{postManagedBean.post.description}" id="description" style="width: 22em"/>
        </p>
        <br/>
    </div>

    <div align="center">
        <ui:fragment rendered="#{postManagedBean.post.image != null}">
        <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(postManagedBean.post.id)}"
             alt="Image"/>
        </ui:fragment>
    </div>


    <br/>
    <p:textEditor widgetVar="content" value="#{postManagedBean.post.content}"
                  style="margin-bottom:10px"
                  readonly="true" toolbarVisible="false">
    </p:textEditor>

    <br/>
    <p:chips value="#{postManagedBean.post.topics}" id="topics" readonly="true"/>

    <br/>
    <br/>

    <p:panelGrid columns="1" styleClass="ui-noborder" style="width: 100%">
        <f:facet name="header">
            New Comment
        </f:facet>
        <p:inputTextarea value="#{commentManagedBean.comment.commentBody}" id="comment" style="width: 100%"/>

        <p:commandButton value="Submit Comment"
                         action="#{commentManagedBean.saveComment(commentManagedBean.comment,
                             postManagedBean.post.id)}"
                         update="@form commentScroller comment" icon="ui-icon-disk"/>

        <p:tooltip for="comment" showEffect="scale" hideEffect="slide" position="right"
                   value="Comment's max length is 100 characters!"/>

    </p:panelGrid>


    <p:dataScroller value="#{postManagedBean.post.comments}" var="comments" id="commentScroller" chunkSize="5">
        <f:facet name="header">
            <h:outputText value="Comments"/>
        </f:facet>
        <p:panelGrid columns="2" styleClass="ui-noborder">
            <h:outputText value="#{comments.commenter.name}:  #{comments.commentBody} |"/>
            <h:outputText value="#{comments.createdDate}">
                <f:convertDateTime pattern="yyyy-MM-dd"/>
            </h:outputText>
            <p:commandButton value="Delete" action="#{commentManagedBean.deleteComment(comments,
            postManagedBean.post.id)}" update="@form commentScroller" process="@this"
                             rendered="#{postManagedBean.user.userName == comments.commenter.userName}"/>
        </p:panelGrid>
        <p:separator/>
    </p:dataScroller>


    <p:panelGrid styleClass="ui-noborder" style="width: 100%;" id="socialPanel">
        <p:row>
            <p:column style="width: 20%">
                <div>
                    <p:commandButton id="upvoteButton" icon="ui-icon-arrowthick-1-n"
                                     action="#{postManagedBean.upvote(postManagedBean.post.id)}"
                                     update="@form socialPanel upvotes"/>
                    <p:outputLabel for="upvotes" value="Upvotes: "/>
                    <h:outputText value="#{postManagedBean.post.social.upvotes}" id="upvotes"/>
                </div>
            </p:column>
            <br/>
            <p:column style="width: 80%">
                <div>
                    <p:commandButton id="downvoteButton" icon="ui-icon-arrowthick-1-s"
                                     action="#{postManagedBean.downvote(postManagedBean.post.id)}"
                                     update="@form socialPanel upvotes"/>
                    <p:outputLabel for="downvotes" value="Downvotes: "/>
                    <h:outputText value="#{postManagedBean.post.social.downvotes}" id="downvotes"/>
                </div>
            </p:column>
        </p:row>
    </p:panelGrid>

    <p:dialog id="mostLikedDialog" widgetVar="mostLikedDialog"
              header="Most liked posts. | #{homeManagedBean.mostLikedTime} seconds load time." showEffect="fold"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{homeManagedBean.mostLiked}" var="posts" chunkSize="10" id="mostLikedScroller">

            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(posts.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(posts.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(posts.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{posts.title}" action="#{postManagedBean.openPost(posts.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{posts.description}"
                                         style="width: 100%; border: 0px;"/>
                    </p:column>

                    <p:column>
                        <h:outputText value="Upvotes: #{posts.social.upvotes}"/>
                        <br/>
                        <h:outputText value="Downvotes: #{posts.social.downvotes}"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>

    <p:dialog id="myProfileDialog" widgetVar="myProfileDialog" header="My Profile" showEffect="fold" hideEffect="fold"
              positionType="fixed"
              position="top" width="80%" dynamic="true" resizable="false" fitViewport="true" responsive="true"
              modal="true" appendTo="@(body)">
        <p:panelGrid columns="2" style="width:100%" styleClass="ui-noborder">
            <h:outputText value="Name"/>
            <h:outputText value="#{postManagedBean.user.name}"/>
            <h:outputText value="Username"/>
            <h:outputText value="#{postManagedBean.user.userName}"/>
            <h:outputText value="Email"/>
            <h:outputText value="#{postManagedBean.user.email}"/>
        </p:panelGrid>
    </p:dialog>

    <p:dialog id="searchDialog" widgetVar="searchDialog"
              header="Posts by keyword. | #{searchManagedBean.searchByKeywordTime} seconds load time." showEffect="fold"
              hideEffect="fold" positionType="fixed" position="top" width="80%" dynamic="true"
              resizable="false" fitViewport="true" responsive="true" modal="true" appendTo="@(body)">
        <p:dataScroller value="#{searchManagedBean.foundByKeyword}" var="posts" chunkSize="10" id="searchScroller">
            <p:panelGrid style="width:100%" styleClass="ui-noborder">
                <p:row>
                    <p:column style="width: 20%">
                        <p:commandLink action="#{postManagedBean.openPost(posts.id)}"
                                       process="@this" rendered="#{postManagedBean.hasImage(posts.id)}">
                            <ui:fragment>
                                <img src="data:image/png;base64, #{postManagedBean.getImageContentsAsBase64(posts.id)}"
                                     alt="Image" style="width:5em; height:5em;"/>
                            </ui:fragment>
                        </p:commandLink>
                    </p:column>
                    <p:column>
                        <p:commandLink value="#{posts.title}" action="#{postManagedBean.openPost(posts.id)}"
                                       style="font-weight: bold;" process="@this"/>
                        <br/>
                        <p:inputTextarea readonly="true" value="#{posts.description}"
                                         style="width: 100%; border: 0px;"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator/>
        </p:dataScroller>
    </p:dialog>
</h:form>
</body>
</html>